.character {
  padding-top: 100px;

  input {
    margin-bottom: 2rem;

  }

  &__div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: end;
    }
  }

  &__img {
    width: 100%;
    border-radius: $border-radius-padrao;
  }

  &__article {
    @include card;
  }

  &__p {
    padding: 1rem;
    text-align: justify;
    font-size: 1.1rem;
  }
}