.home {
  @include background;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__botao {
    @include botao;
    text-decoration: none;
    font-weight: 700;
  }
}