@import './global/reset.scss';
@import './global/variables.scss';
@import './global/functions.scss';
@import './pages/characters.scss';

body {
  font-family: $font-family-marvel;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

section {
  padding: 1.7rem 1rem;

  @media(min-width: 992px) {
    padding: 1.7rem 2rem;
  }

  @media (min-width: 1440px) {
    padding: 1.7rem 5rem;
  }
}